.wp-block-ever-blocks-icon {
	display: flex;
	line-height: 0;
	opacity: var(--ever-blocks-icon-opacity, var(--wp--custom--ever-blocks--icon--opacity, 1));
	transition: opacity var(--eb-duration) var(--eb-easing);

	svg {
		box-sizing: border-box;
		width: 1.5em;
		height: auto;
		fill: currentcolor;

		&.is-flip-horizontal {
			scale: -1 1;
		}

		&.is-flip-vertical {
			scale: 1 -1;
		}

		&.is-flip-horizontal.is-flip-vertical {
			scale: -1 -1;
		}
	}

	&.aligncenter {
		justify-content: center;
	}

	&.alignright {
		justify-content: flex-end;
	}
}
