.eb-table-of-contents {

	&__placeholder {
		margin: 0;
		color: var(--eb-color-muted);
		font-size: 1em;
	}

	&__details:not(.is-open) > &__list,
	&__details:not(.is-open) > &__placeholder {
		display: none;
	}

	&__details.is-open > &__summary {
		margin-bottom: var(--eb-spacing-2xs);
	}

	&__details.is-open > &__summary &__toggle {
		transform: rotate(180deg);
	}

	&__levels {
		margin: 0;
		padding: 0;
		border: 0;
		display: flex;
		flex-direction: column;
		gap: 8px;

		legend {
			margin-bottom: 8px;
			font-size: 11px;
			font-weight: 500;
			text-transform: uppercase;
		}
	}
}
