.wp-block-ever-blocks-testimonial{
  padding: 50px 40px 48px 40px;
  background: #f2f2f2;
  border-radius: 5px;

  &__header{
	margin: 0 0 1em 0;
  }

  &__heading{
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.2;
	margin: 0 0 3px 0;
	padding: 0;
	display: block;
  }

  &__footer{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
  }

  &__avatar-wrap{
	height: 64px;
	width: 64px;
	margin-right: 14px !important;
	background: #ddd;
	border-radius: 200px;
	position: relative;
	overflow: hidden;
  }

  &__avatar{
	object-fit: cover;
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 5;
  }

  &__name{
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	display: block;
  }

  &__position{
	line-height: 1.2;
	margin: 0;
	padding: 0;
	display: block;
  }

}
