// Alert
$alert-default-background-color: #e6f7ff;
$alert-default-border-color: #91d5ff;
$alert-default-color: #000000a6;
$alert-warning-background-color: #fffbe6;
$alert-warning-border-color: #ffe58f;
$alert-warning-color: #000000a6;
$alert-error-background-color: #fff1f0;
$alert-error-border-color: #ffa39e;
$alert-error-color: #000000a6;
$alert-success-background-color: #f6ffed;
$alert-success-border-color: #b7eb8f;
$alert-success-color: #000000a6;
